{% extends "layout.html" %}

{% block title %}Business{% endblock %}
{% block lead %}{% endblock %}


{% block scroll_nav %}
<nav class="side-scroll-nav scroll-nav">
    <span class="side-scroll-nav-label">On This Page</span>
    <a href="#market-analysis">Market Analysis</a>
    <a href="#business-model">Business Model</a>
    <a href="#design-c">Design C</a>
    <a href="#design-comparison">Comparison</a>
    <a href="#final-contribution">Contribution</a>
</nav>
{% endblock %}

{% block page_content %}

<div class="education-hero dsp-banner">
    <div class="education-hero-content-container">
        <h1 class="text-glitch">Business</h1>
    </div>
</div>

<div class="spacer5"></div>


<div class="page-section width-75" id="intro">

    <div class="section-title ">
        <h1 style="text-align: left;" class="animate-text-scramble">Introduction</h1>
    </div>

    <p style="text-align: left;">
        To support our entrepreneurial outreach and better our industrial understanding, we went through a series of
        business analyses to explore the feasibility of our idea compared to current and emerging markets.
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        Our belief going into these analyses was the following: <strong>in the next 50 years, the majority of the world
            will be consuming alternative proteins as opposed to traditional meat</strong>. Over the next decade, the
        cultivated meat market industry will skyrocket from roughly $2 B in 2025 to $230–630 B by 2040, the single
        <strong>biggest bottleneck will be growth media cost</strong> and sustainability. Growth factors currently drive
        up to 70% of production costs, keeping the industry from reaching price parity with conventional meat [1].
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        Our hunch is that <strong>producers don’t need another academic cell-line innovation filled with patent
            licensing requirements</strong>. The market requires <strong>a cheap, reliable source of growth factors with
            a streamlined downstream processing workflow</strong>. Our goal is to <strong>remove the industry’s main
            cost barrier</strong> and unlock scale for hundreds of emerging cultivated-protein companies, directly
        supporting the impending FoodTech boom.
    </p>


</div>


<div class="page-section width-75" id="design-a">
    <h2 class="collapsible-trigger" style="text-align: left;" id="market-analysis"><strong>Market Analysis</strong>
    </h2>
    <div class="collapsible-content">
        <div class="image-aligner-center">
            <img src="" alt="Process diagram for cost-focused baseline" class="section-image"
                style="margin-bottom: 2rem;">
            <p style="text-align: left;"><em>insert process diagram</em></p>
        </div>
        <p style="text-align: left;">

        </p>
        <div class="spacer"></div>

        <div class="collapsible-close">Close</div>
    </div>
</div>

<div class="page-section width-75" id="design-b">
    <h2 class="collapsible-trigger" style="text-align: left;" id="business-model"><strong>Business Model</strong></h2>
    <div class="collapsible-content">
        <div class="image-aligner-center">
            <img src="" alt="Process diagram for environmentally-optimised design" class="section-image"
                style="margin-bottom: 2rem;">
            <p style="text-align: left;"><em>insert process diagram</em></p>
        </div>

        <div class="collapsible-close">Close</div>
    </div>
</div>

<div class="page-section width-75" id="design-c">
    <h2 class="collapsible-trigger" style="text-align: left;"><strong>Process Design C: Hybrid with Recovery
            Loops</strong></h2>
    <div class="collapsible-content">

        <div class="collapsible-close">Close</div>
    </div>
</div>

<div class="page-section width-75" id="design-comparison">
    <h2 class="collapsible-trigger" style="text-align: left;"><strong>Design Comparison</strong></h2>
    <div class="collapsible-content">

        <div class="collapsible-close">Close</div>
    </div>
</div>

<div class="page-section width-75" id="final-contribution">
    <h2 class="collapsible-trigger" style="text-align: left;"><strong>Final Contribution: A Clearer Blueprint for
            Cultivated Meat Processing</strong></h2>
    <div class="collapsible-content">

        <div class="collapsible-close">Close</div>
    </div>
</div>

{% endblock %}