{% extends "layout.html" %}

{% block title %}Education{% endblock %}

{% block scroll_nav %}
<nav class="scroll-nav">
    <ul>
        <li><a href="#intro-section" class="active"><span>Our Approach</span></a></li>
        <li><a href="#kindergarten-section"><span>Kindergarten</span></a></li>
        <li><a href="#high-school-section"><span>High School</span></a></li>
        <li><a href="#university-section"><span>University</span></a></li>
        <li><a href="#general-public-section"><span>General Public</span></a></li>
    </ul>
</nav>
{% endblock %}

{% block page_content %}
    <div class="hero-section is-transparent" id="intro-section">
      <h1 class="tagline" style="text-align: center;">Education & Communication</h1>
      <p>Our approach to education is centered on creating a two-way dialogue with diverse audiences, ensuring mutual learning and meaningful engagement.</p>
    </div>


    <!-- Kindergarten -->



    <div class="page-section is-transparent" id="kindergarten-section">
      <h2 class="tagline tagline-lime-green"><span>Kindergarten</span></h2>
    
    
    <div class="dialogue-block approach animate-on-scroll" style="transform: translateX(-5vw);">
        <h4>Our Approach</h4>
        <p>We developed...</p>
    </div>

    
    <div class="dialogue-block feedback" style="transform: translateX(5vw);">
        <h4>Community Feedback & Mutual Learning</h4>
        <p>The...</p>
    </div>
    </div>

    <!-- High School -->

  

    <div class="page-section is-transparent" id="high-school-section">
        <h2 class="tagline tagline-mint-green"><span>High School</span></h2>
      
    <div class="dialogue-block approach animate-on-scroll" style="transform: translateX(-5vw);">
        <h4>Our Approach</h4>
        <p>We developed...</p>
    </div>

    
    <div class="dialogue-block feedback" style="transform: translateX(5vw);">
        <h4>Community Feedback & Mutual Learning</h4>
        <p>The...</p>
    </div>
    </div>

        <!-- Univesrity -->




    <div class="page-section is-transparent" id="university-section" >
        <h2 class="tagline tagline-sky-blue"><span>University</span></h2>

    <div class="dialogue-block approach animate-on-scroll" style="transform: translateX(-5vw);">
        <h4>Our Approach</h4>
        <p>We developed...</p>
    </div>

    
    <div class="dialogue-block feedback" style="transform: translateX(5vw);">
        <h4>Community Feedback & Mutual Learning</h4>
        <p>The...</p>
    </div>

    <h2>FSRS ‘Intro to SynBio’ Seminar Series</h2>

    <div class="pdf-container">
            <iframe src="https://static.igem.wiki/teams/5916/education/university/synthetic-blood-engineered-rbcs.pdf"></iframe>
        </div>    

     
    <a href="https://static.igem.wiki/teams/5916/education/university/biosecurity-and-synthetic-biology.pdf" class="accent-btn btn-sky-blue">biosecurity and synthetic biology</a>

    <a href="https://static.igem.wiki/teams/5916/education/university/data-storage-in-genetic-material.pdf" class="accent-btn btn-sky-blue">data storage in genetic material</a>

    <a href="https://static.igem.wiki/teams/5916/education/university/somatic-cell-genome-editing.pdf" class="accent-btn btn-sky-blue">somatic cell genome editing</a>

    <a href="https://static.igem.wiki/teams/5916/education/university/synbio-perfumery.pdf" class="accent-btn btn-sky-blue">synbio perfumery</a>

      

          



       

     <!-- Public -->



    <div class="page-section is-transparent" id="general-public-section">
        <h2 class="tagline tagline-orange"><span>General Public</span></h2>

     <div class="dialogue-block approach animate-on-scroll">
        <h4>Our Approach</h4>
        <p>We developed...</p>
    </div>

    
    <div class="dialogue-block feedback">
        <h4>Community Feedback & Mutual Learning</h4>
        <p>The...</p>
    </div>
    </div>          


{% endblock %}
