{% extends "layout.html" %}

{% block title %}Education{% endblock %}

{% block scroll_nav %}
<nav class="scroll-nav">
    <ul>
        <li><a href="#our-intiative" class="active"><span>Our Initiative</span></a></li>
        <li><a href="#kindergarten"><span>Kindergarten</span></a></li>
        <li><a href="#high-school"><span>High School</span></a></li>
        <li><a href="#university"><span>University</span></a></li>
        <li><a href="#general-public"><span>General Public</span></a></li>
    </ul>
</nav>
{% endblock %}

{% block page_content %}

<div class="education-hero">
    <div class="education-hero-content-container">
        <h1>EDUCATION</h1>
    </div>
</div>


<div class="spacer2"></div>

<div class="page-section width-75" style="margin-bottom: -1%;" id="our-intiative">

    <div class="section-title">
        <h1 style="text-align: left;">OUR INITIATIVE</h1>
    </div>

    <div class="container my-5">
        <div class="coloured-block">
            <h2>A Large Coluored Block</h2>
            <p></p>
        </div>
    </div>

</div>


<!-- Kindergarten -->



<div class="page-section width-75" id="kindergarten">

    <div class="section-title">
        <h1 class="tagline-subline tagline-subline-bold tagline-subline-yellow" style="text-align: left;">
            <span>Kindergarten</span>
        </h1>
    </div>

    <h2 class="tagline-subline" style="text-align: left;"><span>MAKING SCIENCE FUN</span></h2>

    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/kindergarten/kindgarten-01.webp">
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/kindergarten/kindgarten-02.webp">
            </div>

        </div>

    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>GREAT EXHIBITION ROAD FESTIVAL</span></div>

    <div class="two-column-container">

        <div class="column-left">

            <p style="text-align: left;">At The Great Exhibition Road Festival, we had the chance to introduce synthetic
                biology in a fun and
                informal way to young children, including kindergartners. To make molecular biology exciting and
                interactive, we teamed up with the Good Food Institute and co-organised a stall called Build a Microbial
                Factory.</p>

            <div class="spacer2"></div>

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/kindergarten/kindgarten-04.webp">
            </div>

            <div class="spacer5"></div>

            <p style="text-align: left;">
                We also featured The Overlab, a fast-paced, multiplayer game strongly inspired by Overcooked, but set in
                a synthetic biology lab instead of a kitchen. In Overlab, players take on different lab roles to build
                synthetic biology experiments under time pressure, from preparing reagents to assembling plasmids to
                running protocols. Just like in a real lab, teamwork and communication are essential to success. The
                game was a fun way for the children to learn about lab workflows and teamwork in science, in a fun,
                chaotic environment.
            </p>

        </div>



        <div class="column-right">

            <div class="spacer5"></div>

            <p style="text-align: left;">We taught kids aged 3 to 7 how a yeast cell functions using a hands-on marble
                game designed to simulate
                the journey of a molecule through a living cell. Children guided a marble which represents a protein or
                molecule, through a colourful, physical model of a yeast cell, passing through key organelles like the
                nucleus, endoplasmic reticulum, Golgi apparatus, and more. At each station, we explained what that part
                of the cell does in simple, relatable terms (like "<i>this is where the cell reads instructions!" or
                    "this
                    is the cell’s post office!</i>"). We turned complex molecular biology into an immersive experience
                that kids
                could touch, see, and understand. </p>

            <div class="spacer5"></div>

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/kindergarten/kindgarten-03.webp">
            </div>

            <div class="spacer5"></div>

            <p style="text-align: left;">Throughout the day, we welcomed 167 student players and received great feedback
                from both kids and parents about how much they enjoyed the experience.</p>

        </div>

    </div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/kindergarten/kindgarten-05.webp">
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/kindergarten/kindgarten-06.webp">
            </div>

        </div>

    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>YEAST COLOURING BOOK</span></div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/kindergarten/kindergarten-07.webp">
            </div>

            <div class="button-row">
                <a href="https://static.igem.wiki/teams/5916/education/kindergarten/colouring-book-for-young-scientists.pdf"
                    class="accent-btn btn-yellow">
                    <span>view the full book here</span>

                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </a>
            </div>

        </div>

        <div class="column-right">

            <p style="text-align: left;">Synthetic biology and the greater STEM (Science, Technology, Engineering, and
                Mathematics) field can be portrayed as too advanced or “grown-up,” leaving children out of the
                conversation and its role in shaping the future. We wanted to change that for our project, by creating a
                resource that introduces key concepts in a way that feels familiar, playful, and accessible to young
                audiences.</p>

            <div class="spacer"></div>

            <p style="text-align: left;">Our solution was to design an educational colouring book filled with themed
                pages that invite children to “<i>meet the scientists</i>,” imagine themselves doing lab work, and
                explore
                the building blocks of life, such as cells, organs, and even synthetic meat as part of our project. Each
                page was designed with simple, bold outlines for colouring, paired with short, child-friendly
                explanations that encourage curiosity and creativity.</p>

            <div class="spacer"></div>

            <p style="text-align: left;">Through combining classic colouring activities with real scientific themes, the
                book makes synthetic biology approachable at an early age, showing that science isn’t just something
                hidden away in labs but part of everyday life and future possibilities. Beyond being fun, it serves as a
                gentle introduction to synthetic biology, planting the seeds of interest in STEM while also helping
                children and their families feel included in scientific conversations.
                <br> <br>
                Once complete, the colouring book was published online and presented in our visits to nurseries.
            </p>

        </div>


    </div>

    <div class="spacer2"></div>






    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>Webtoon Science Storybook</span></div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <p style="text-align: left;">For children, science is usually taught and presented as something serious and
                complicated, rather than playful and imaginative. We wanted to challenge that perception by creating a
                resource that makes synthetic biology approachable through storytelling, humour, and relatable
                characters.</p>

            <div class="spacer"></div>

            <p style="text-align: left;">Our solution was to design a digital Webtoon-style storybook, starring our
                mascot Sir Loin, and Dr. Pea Pod as they set off on adventures to explore and explain synthetic biology.
                Each episode introduces a new theme about sustainable food and synthetic meat. By personifying
                scientific ideas through characters, we aimed to break down barriers and make abstract concepts easier
                to grasp.</p>

            <div class="spacer"></div>

            <p style="text-align: left;">The comic format allowed us to merge entertainment with education, capturing
                the imagination of younger audiences while also engaging older readers who might be curious but
                intimidated by technical language. Bright artwork and approachable narratives turned synthetic biology
                into a story-driven experience rather than a lecture, showing that science can be both fun and relevant.
            </p>


        </div>

        <div class="column-right">

            <div id="webtoonCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-01.webp"
                            class="d-block" alt="Webtoon Panel 1">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-02.webp"
                            class="d-block" alt="Webtoon Panel 2">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-03.webp"
                            class="d-block" alt="Webtoon Panel 3">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-04.webp"
                            class="d-block" alt="Webtoon Panel 4">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-05.webp"
                            class="d-block" alt="Webtoon Panel 5">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#webtoonCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#webtoonCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#webtoonCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1">
                        <img class="d-none d-md-block"
                            src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-01.webp"
                            alt="Thumbnail 1">
                    </button>
                    <button type="button" data-bs-target="#webtoonCarousel" data-bs-slide-to="1" aria-label="Slide 2">
                        <img class="d-none d-md-block"
                            src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-02.webp"
                            alt="Thumbnail 2">
                    </button>
                    <button type="button" data-bs-target="#webtoonCarousel" data-bs-slide-to="2" aria-label="Slide 3">
                        <img class="d-none d-md-block"
                            src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-03.webp"
                            alt="Thumbnail 3">
                    </button>
                    <button type="button" data-bs-target="#webtoonCarousel" data-bs-slide-to="3" aria-label="Slide 4">
                        <img class="d-none d-md-block"
                            src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-04.webp"
                            alt="Thumbnail 4">
                    </button>
                    <button type="button" data-bs-target="#webtoonCarousel" data-bs-slide-to="4" aria-label="Slide 5">
                        <img class="d-none d-md-block"
                            src="https://static.igem.wiki/teams/5916/education/kindergarten/webtoon-05.webp"
                            alt="Thumbnail 5">
                    </button>
                </div>
            </div>

            <div class="spacer2"></div>

            <p style="text-align: left;">Once completed, the Webtoon was published online and shared across our outreach
                channels, where it
                provided a creative entry point for new audiences to learn about iGEM and synthetic biology.</p>

        </div>

    </div>

</div>


<!-- High School -->

<div class="spacer5"></div>

<div class="page-section width-75" id="high-school">

    <div class="section-title">
        <h1 class="tagline-subline tagline-subline-bold tagline-subline-orange" style="text-align: left;">
            <span>Highschoolers</span>
        </h1>
    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>Career Guide in Synbio</span></div>

    <div class="spacer2"></div>


    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/career-guide.webp">
            </div>


            <div class="button-row">
                <a href="https://static.igem.wiki/teams/5916/education/highschool/career-guide.pdf"
                    class="accent-btn btn-orange">
                    <span>View the full guide here</span>

                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </a>
            </div>


        </div>


        <div class="column-right">


            <p style="text-align: left;">For many people, no matter their age or stage in education, entering the field
                of synthetic biology can feel confusing and overwhelming. Since it is still an up-and-coming area in the
                big field of biology, the opportunities, especially in the UK, are numbered.</p>

            <div class="spacer"></div>

            <p style="text-align: left;">We wanted to make this journey clearer by creating a career guide that
                introduces the best degrees to pursue for a future in SynBio, along with the wide range of possible
                career paths that follow, with emphasis on academia and industry to startups and entrepreneurship. </p>

            <div class="spacer"></div>

            <p style="text-align: left;">Drawing on our own team composition and experiences during iGEM, we highlighted
                the degrees that provide strong foundations for synthetic biology, including life sciences, engineering,
                and computational disciplines. For careers, we researched companies and organisations we interacted with
                during the project, as well as leading players we knew in the field, to showcase the diversity of
                opportunities available. </p>

            <div class="spacer"></div>

            <p style="text-align: left;">Importantly, we also included our own honest reflections and advice to make the
                guide friendly and encouraging.
                <br><br>
                Once completed, we shared the career guide on our Slack community and distributed it directly to high
                school students through their outreach channels, helping prospective SynBio enthusiasts at different
                stages feel more confident about their next steps.
            </p>


        </div>

    </div>

    <div class="spacer5"></div>

    <div class="tagline-subline" style="text-align: left;"><span>Career Guide in Synbio</span></div>

    <div class="spacer2"></div>


    <div class="two-column-container">


        <div class="column-left">

            <p style="text-align: left;">We understand that our field, synthetic biology, is often described as a “niche
                within a niche”. With that comes a lot of specialised and technical jargon that can make the field feel
                inaccessible to newcomers and the general public. To make our project and synthetic biology more
                approachable, we created a visual dictionary that defines commonly used terms, both from our work and
                the broader field. The aim was to break down complex concepts into simple, easy-to-understand language.
            </p>

            <p style="text-align: left;">The glossary includes terms like <i>gene regulation</i>,<i>cultivated meat</i>,
                <i>transcription factor</i>. These and many more are presented with clear, beginner-friendly definitions
                and
                bold, eye-catching visuals to make complex biology feel approachable and engaging for all audiences.
                <br><br>
                It’s a resource we hope can help students, educators, and the general public feel more confident
                navigating this exciting area of science.
            </p>

            <div class="button-row">
                <a href="https://static.igem.wiki/teams/5916/education/highschool/synbio-dictionary.pdf"
                    class="accent-btn btn-orange">
                    <span>View the full dictionary here</span>

                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </a>
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/synbio-dictionary.webp">
            </div>





        </div>


    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>Hiroo HS</span></div>

    <div class="spacer2"></div>


    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/hiroo-01.webp">
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/hiroo-02.webp">
            </div>

        </div>

    </div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <p style="text-align: left;">As part of our education efforts, we had the opportunity to connect with the
                Hiroo Gakuen (HG) team from Japan. This conversation was a unique chance to share both scientific
                knowledge and iGEM experience with younger students who are just starting to explore synthetic biology.
            </p>

            <div class="spacer5"></div>

            <p style="text-align: left;">This interview was especially meaningful for us because it aligned directly
                with our high school education strategy. By speaking to motivated high school students, we could
                highlight not only synthetic biology concepts but also the broader opportunities iGEM provides for
                teamwork, creativity, and learning beyond the classroom.</p>

            <div class="spacer2"></div>

            <p style="text-align: left;">Through this exchange, we aimed to demystify iGEM for high school students
                while raising awareness about synthetic biology applications in the real world. It was both an
                educational dialogue and a moment of mentorship, bridging our role as “senior” iGEMers with the next
                generation of synthetic biologists.</p>

            <div class="spacer2"></div>

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/hiroo-x-imperial.webp">
            </div>


        </div>

        <div class="column-right">

            <div class="spacer2"></div>

            <p style="text-align: left;">We introduced our project and explained how this could contribute to making
                cultivated meat more accessible. Beyond the science, we also discussed the process of getting started in
                iGEM, what it is like to balance lab work with university studies, and how to navigate the challenges of
                building a project from scratch.</p>

            <div class="spacer2"></div>

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/hiroo-03.webp">
            </div>


            <div class="spacer2"></div>

            <p style="text-align: left;">We shared our own experiences: the excitement of developing a project vision,
                the hurdles of finding lab space, and the importance of communication and team morale. At the same time,
                we offered advice tailored to younger iGEMers, from practical tips on balancing schoolwork with
                deadlines to encouragement for overcoming the initial challenges of starting a project.</p>

        </div>

    </div>

    <div class="tagline-subline" style="text-align: left;"><span>Digital Postcard Initiative</span></div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <div class="spacer2"></div>


            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/postcard.webp">
            </div>


        </div>

        <div class="column-right">

            <p style="text-align: left;">This year, our Imperial iGEM team led the Digital Postcard Initiative, a global
                collaboration connecting iGEM teams from every continent (including high school and university groups).
                The goal? To share not just projects, but experiences, journeys, and knowledge.</p>


            <p style="text-align: left;">Each team created a digital postcard with artwork and a letter introducing
                themselves, their university, and their project in simple, accessible language. This allowed
                participants to learn from each other, celebrate diverse approaches, and see how synthetic biology is
                tackled in labs across the world.</p>
            <div class="spacer"></div>
            <p style="text-align:left;">But the impact didn’t stop there. All postcards were made publicly available,
                turning them into
                “<i>synthetic biology love letters.</i>” Each message communicated a team’s passion for synthetic
                biology and
                shared it with the wider public in an engaging, friendly way.</p>
            <div class="spacer"></div>
            <p style="text-align:left;">Readers can explore projects from around the globe, see where teams are
                based, and learn about the
                science behind their work. By encouraging teams to explain their projects simply, we made cutting-edge
                synthetic biology approachable for everyone, not just scientists.</p>


        </div>



    </div>

    <div class="spacer"></div>

    <div style="text-align: center;">

        <img src="https://static.igem.wiki/teams/5916/education/highschool/imperial.webp" style="max-width: 70%;">

    </div>

    <div class="spacer"></div>


    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/egypt-1.webp">
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/highschool/egypt-2.webp">
            </div>

        </div>

    </div>

    <div class="spacer"></div>
    <p style="text-align:left;">This initiative created double-layered education: first, knowledge exchange
        between iGEM teams, and
        second, learning opportunities for the general public. It’s a celebration of collaboration, curiosity,
        and the global community united by a shared passion for synthetic biology.</p>



</div>

<div class="spacer5"></div>

<!-- University Students -->

<div class="page-section width-75" id="university">



    <div class="section-title">
        <h1 class="tagline-subline tagline-subline-bold tagline-subline-lime-green" style="text-align: left;">
            <span>University Students</span>
        </h1>
    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>FSRS Seminar Series ‘Intro to SynBio’</span></div>

    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/university/fsrs.webp">
            </div>

            <div class="spacer"></div>

            <p style="text-align: left;">This mix was intentional, we wanted students to see that synthetic biology can
                lead to innovations in diverse fields. While also raising important ethical questions. The variety of
                topics also helped students connect synthetic biology to their own interests, whether they were studying
                biology, computer science, chemistry, or philosophy. By showcasing both the exciting potential and the
                complex responsibilities that come with engineering life, we aimed to challenge narrow views of the
                field and spark curiosity across disciplines. </p>

        </div>

        <div class="column-right">

            <p style="text-align: left;">We wanted to show university students just how broad and exciting synthetic
                biology can be, something that often isn’t highlighted in UK academic settings. Our goal was to show
                students that synthetic biology isn’t just one thing, that can be applied across countless fields, from
                health to technology to design. To do this, we collaborated with the <i>Frontiers in Scientific Research
                    Summit</i>, a student-led synthetic biology conference. We hosted a special section featuring five
                short
                crash-course talks on diverse topics: <i>DNA-based computing and data storage, synthetic perfumery,
                    engineered red blood cells, somatic cell genome editing, and Risks, biosecurity and bioethics </i>.
            </p>

            <div class="spacer5"></div>

            <p style="text-align: left;"> We got many questions during each of the talks, and the sessions often turned
                into open discussions, with students sharing their own thoughts and asking how to explore certain topics
                further. Several attendees approached us after the talks to continue the conversation, and we were able
                to provide additional resources and answer follow-up questions. It was clear that the diversity of the
                topics sparked genuine curiosity and two-way engagement throughout the session.</p>


        </div>

    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>Community Hub SynBio - SLACK</span></div>

    <div class="two-column-container">

        <div class="column-left">

            <p style="text-align: left;">We saw a clear gap in the UK for students interested in synthetic biology,
                unlike more established fields like clinical research or law, there was no central space for early
                synthetic biologists to connect, collaborate, and grow. To change this, we launched the UK SynBio
                Circle, a dedicated UK-regional Slack community, designed specifically for university students and
                early-career researchers in the field. </p>
            <div class="spacer"></div>
            <p style="text-align: left;">We carefully structured it around the journey of someone entering and growing
                in the field. We created specific channels for sharing research papers, troubleshooting lab techniques,
                and discussing current developments in synthetic biology. There’s a space for conferences and events,
                where members can share upcoming talks, workshops, and funding opportunities. Our #opportunities channel
                became a hub for internships, PhD openings, start-up positions, and collaboration requests, and has been
                used by several companies to reach talent directly. We also included casual and social channels to help
                people meet informally, share ideas, and feel part of a broader, supportive community.</p>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/university/slack.webp">
            </div>

            <div class="spacer"></div>
            <p style="text-align: left;">The Slack gained traction quickly, over 150 students from more than 12
                universities across the UK joining. Alongside professionals from five start-ups who shared jobs and
                internships, such as SynX Therapeutics. It’s become an active space where students can find each other,
                exchange ideas, and take their first steps into the field with a network behind them.
            </p>


        </div>

    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>SynBio Scandals Magazine</span></div>

    <div class="spacer2"></div>


    <div class="two-column-container">

        <div class="column-left">

            <p style="text-align: left;">Synthetic biology is often seen as abstract and highly technical by the general
                public, while researchers can be reluctant to hold open conversations with the public to hear out their
                concerns. We wanted to change that by creating a resource that felt familiar and accessible, while still
                delivering serious ideas</p>

            <div class="spacer2"></div>

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/university/frontpage.webp">
            </div>


        </div>

        <div class="column-right">

            <p style="text-align: left;">Our solution was to design an educational magazine inspired by the 2000s teen
                tabloids many people grew up with, complete with bold layouts, quizzes, horoscopes, and playful
                commentary. We selected synbio stories that connect directly to people's everyday lives and are often
                discussed negatively, such as cultivated meat and Genetically Modified Organisms (GMOs). We paired these
                with topics typically limited to scientific circles, like lab dress codes or microbial chassis
                selection, all presented in a playful, accessible format. To add another layer of interactivity, we
                included simple mini-experiments that readers could try at home with common household items,
                demonstrating basic scientific principles in a fun, accessible way. </p>

            <div class="spacer"></div>

            <p style="text-align: left;">Drawing directly from the formatting of glossy magazines, we recreated the
                experience of flipping through a pop-culture tabloid, but instead of celebrity gossip, readers
                discovered stories about biotechnology. Once complete, the magazine was shared online on our social
                media channels like Instagram and Slack, and sent to Imperial’s Department of Bioengineering for
                outreach printing, where it now serves as a fun entry point for prospective students. </p>

            <div class="spacer"></div>

            <p style="text-align: left;">In doing so, we provided an unusual but effective way to make synthetic biology
                approachable, showing that even complex science can be communicated with humour, nostalgia, and
                creativity.</p>

            <div class="spacer"></div>

            <div class="button-row">
                <a href="https://static.igem.wiki/teams/5916/education/kindergarten/colouring-book-for-young-scientists.pdf"
                    class="accent-btn btn-lime-green">
                    <span>view the full magazine here</span>

                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </a>
            </div>

            <div class="spacer"></div>


        </div>

    </div>



    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>University Fresher Fair Outreach Tour</span></div>

    <div class="spacer2"></div>

    <p style="text-align: left;">This year, with iGEM participation among UK teams dropping to just four teams from 20
        back in 2016, we recognised the importance of strengthening connections across the regional SynBio community. To
        address this, we focused our outreach on building the UK SynBio Network by engaging directly with university
        societies during their Fresher’s Fairs.</p>

    <div class="spacer"></div>

    <p style="text-align: left;">We reached out to synthetic biology student societies across the UK through email,
        Instagram DMs, and LinkedIn, successfully establishing collaborations with 9 external societies, plus our own
        Imperial SynBio Society, bringing the total to 10. </p>

</div>

<!-- General Public -->

<div class="spacer5"></div>

<div class="page-section width-75" id="general-public">

    <div class="section-title">
        <h1 class="tagline-subline tagline-subline-bold tagline-subline-sky-blue" style="text-align: left;">
            <span>General Public</span>
        </h1>
    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>BioPhilosophy Collection of Short Stories</span></div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-center">
                <img class="section-image" style="max-height: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/kant25.webp">
            </div>




        </div>

        <div class="column-right">

            <div class="image-aligner-center">
                <img class="section-image" style="max-height: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/plato25.webp">
            </div>


        </div>

    </div>


    <div class="spacer2"></div>

    <p style="text-align: left;">Synthetic biology gives us the power to design life, but also the
        responsibility to reflect on its ethical and societal impacts. These conversations are still emerging
        within the field, and often overlooked in scientific training. As an iGEM team, we wanted to help shift
        that narrative.</p>

    <div class="spacer"></div>

    <p style="text-align: left;">To do this, we created an in-depth essay exploring key philosophical ideas
        relevant to synthetic biology. Our goal was to make complex ethical concepts accessible and to show how
        they apply directly to real-world biotechnology. The essay introduces major ethical frameworks like
        utilitarianism and deontology, as well as modern perspectives such as posthumanism. We explored
        influential thinkers, including Immanuel Kant, Michel Foucault, and Donna Haraway, and connected their
        work to current debates in science, from lab-grown meat and GMOs to synthetic organisms and biosecurity.
    </p>


    <p style="text-align: left;">To bring these ideas to life, we also included classic thought experiments like
        the <i>Ship of Theseus</i> and the <i>Frankenstein Dilemma</i>, using them to challenge assumptions
        about identity,
        responsibility, and the boundaries between nature and technology. Throughout the essay, we grounded the
        discussion in both our own iGEM project and broader societal examples, aiming to make philosophy
        relevant to young scientists and synthetic biologists.</p>

    <div class="spacer"></div>

    <p style="text-align: left;">Since its release, the essay has been shared across other iGEM teams and
        university communities. It helped spark meaningful conversations within our own team, shaping how we
        approached safety, design, and public engagement. This project reminded us that ethics and philosophy
        shouldn’t be a “second thought”. As synthetic biology advances, so must our thinking about what it means
        to engineer life, and how we can do so with humility and responsibility.</p>

    <div class="spacer2"></div>

    <div class="button-row">
        <a href="https://static.igem.wiki/teams/5916/education/public/imperial-igem-biophilosophy.pdf"
            class="accent-btn btn-sky-blue">
            <span>Read The Essay Here</span>

            <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </a>
    </div>


    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>Mini Jamboree</span></div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/jamboree1.webp">
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/jamboree2.webp">
            </div>

        </div>

    </div>

    <div class="spacer2"></div>

    <p style="text-align: left;">In the UK, iGEM teams have no formal opportunities to practice for the Grand
        Jamboree or connect with each other outside their universities, so we set out to create a national Mini
        Jamboree. Our aim was to give student teams a platform to rehearse their presentations, showcase
        synthetic biology innovation to undergraduates considering joining future teams, and connect students
        directly with researchers, industry professionals, and alumni. To prepare ourselves, we developed a
        15-minute project talk and practiced it over two weeks, ensuring we could present our best work to the
        crowd and fellow iGEM teams.</p>

    <div class="spacer"></div>

    <p style="text-align: left;">As organisers, we needed to secure speakers, booths, a venue, funding, and volunteers,
        while
        also designing interactive elements such as live Q&As and question submission forms. We reached out to over 30
        companies to bring in leading voices from the synbio community, booked one of Imperial’s most prestigious
        lecture theatres, and held one-to-one preparation meetings with every speaker. The final line-up featured some
        of the UK’s most exciting startups and researchers: David Kim of CyanoCapture and Shan Jiang, iGEM alumnus and
        founder of Ailurus Bio, delivered keynotes; Kärt Tomberg of ExpressionEdits joined us for an interactive
        fireside chat using a new live Q&A platform; Martin Carballo Pacheco represented Hoxton Farms with a workshop on
        cultivated meat technology; and our Future of Biotech panel showcased the journeys of FullCircleLabs, Change
        Bio, and Amytis, three early-stage startups using AI and automation to transform biotechnology.</p>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <p style="text-align: left;">Beyond the programme itself, our team designed the agenda, accessibility
                guides, and infographic content for guests, coordinated volunteers through a dedicated application
                process, and kept up daily social media updates leading up to the date to build anticipation. During the
                event, we ran student team presentations with live Q&As from alumni and industry professionals, filmed
                short videos during breaks to capture instant feedback, and ensured every session encouraged audience
                interaction.</p>

            <div class="spacer"></div>

            <p style="text-align: left;">The event drew over <b>60</b> engaged attendees and received outstanding
                feedback: our
                survey reported average satisfaction scores of 4.73/5 for speaker selection and 4.82/5 for resources and
                communication, with 91% of respondents saying they would return next year. One participant reflected,
                “The Future of Biotech panel was very candid. The panelists were super warm and helpful when answering
                questions and left me inspired to do my own research on what they talked about!”</p>



        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/jamboree-poster.webp">
            </div>


        </div>

    </div>


    <div class="spacer2"></div>

    <p style="text-align: left;">Overall, the Mini Jamboree was a vibrant success. For iGEM teams, it provided
        invaluable practice before Paris; for the broader audience, it was an inspiring showcase of what
        synthetic biology can achieve when students, academics, and entrepreneurs come together — and proof that
        it is never too early to start building in synthetic biology.</p>

    <div class="spacer2"></div>



    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/jamboree-team.webp">
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/jamboree3.webp">
            </div>

        </div>

    </div>

    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>Podcast</span></div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <div class="image-aligner-left">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/growthcast-1.webp">
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/growthcast-3.webp">
            </div>

        </div>

    </div>

    <div class="two-column-container">

        <div class="column-left">

            <p style="text-align: left;">Did you know that over half of adults regularly listen to podcasts, often using
                them to learn something new while going about their day? We thought: why not bring synthetic biology to
                this growing medium? With this in mind, we launched a podcast aimed at reaching the general public in a
                lighthearted, accessible way.</p>

            <div class="spacer"></div>

            <div style="text-align: center;">
                <img src="https://static.igem.wiki/teams/5916/assets/images/steak-petri-dish.webp"
                    alt="Rotating Imperial iGEM Logo" class="rotating-image">

            </div>


        </div>


        <div class="column-right">

            <div class="spacer"></div>

            <div class="image-aligner-right">
                <img class="section-image" style="max-width: 100%;"
                    src="https://static.igem.wiki/teams/5916/education/public/growthcast-2.webp">
            </div>


        </div>

    </div>

    <div class="spacer"></div>

    <p style="text-align: left;">Hosted by two of our team members, each episode features interviews with different iGEM
        members discussing a topic in synthetic biology that they are passionate about. Guests also share their journey
        into synthetic biology and iGEM, providing insight into how others can get involved, whether at high school,
        undergraduate, or postgraduate levels.
        <br><br>
        This approach makes the podcast both educational and inspiring, covering not only the science behind synthetic
        biology but also personal stories and experiences.
        Our episodes have explored a wide range of topics, including the fundamentals of synthetic biology,
        biomanufacturing and its scaling challenges, GMOs, biological pattern formation, and women in biotech
        entrepreneurship.
        <br><br>
        We’ve also welcomed guest iGEM teams, such as the Manipal team from India, to share their experiences and
        perspectives. This has made the podcast a platform for collaboration, knowledge sharing, and discussion across
        teams, generations, and audiences.
        <br><br>
        In addition to the discussions, we’ve incorporated creativity and music into the project. One team member,
        combining their passion for synthetic biology and music, produced a unique podcast jingle using lab sounds and
        instruments creating a “magical lab” vibe that reflects the sci-fi and innovative spirit of our field.
        <br><br>
        Overall, the podcast has become an innovative educational tool that transcends traditional media and
        demographics. It’s a fun, accessible way for the public to learn about synthetic biology while highlighting the
        collaborative and creative culture of iGEM.
    </p>

    <div class="spacer2"></div>



    <div class="spacer2"></div>

    <div class="tagline-subline" style="text-align: left;"><span>Bioethics Quiz</span></div>

    <div class="spacer2"></div>

    <div class="two-column-container">

        <div class="column-left">

            <p style="text-align: left;">As part of our public education strategy, we wanted a way to make people
                reflect on bioethics in an accessible, on-the-go format. Quizzes are something we all enjoy: on the bus,
                at home, or shared with friends. Instead of “<i>Which character are you?</i>”, our quiz asks: What do
                your
                choices reveal about ethics in the age of synthetic biology?
                <br><br>
                That idea became The Moral Code: an immersive quiz that reimagines the classic “<i>Trolley Problem</i>”
                for
                today’s scientific frontiers.
            </p>

            <div class="spacer"></div>
            <p style="text-align: left;">
                The Moral Code takes players through five ethical worlds, each tied to a framework that guides decisions
                in science. Early choices feel simple, but later dilemmas demand real moral trade-offs.
            </p>
            <div class="spacer"></div>
            <div class="image-aligner-center">
                <img src="https://static.igem.wiki/teams/5916/education/public/bioethics-quiz-results.webp"
                    style="max-width:80%;">
            </div>

        </div>

        <div class="column-right">

            <div class="image-aligner-right">
                <img src="https://static.igem.wiki/teams/5916/education/public/bioethics-quiz.webp"
                    style="max-width:100%;">
            </div>

        </div>

    </div>

    <div class="spacer2"></div>

    <p style="text-align: left;"> You’ll face <strong>crisis responses in The Outbreak</strong> (utilitarianism),
        <strong>risk-versus-innovation in The Green
            Lab</strong> (precautionary principle), <strong>questions of fairness in The Divide</strong> (justice &
        equity), <strong>personal
            rights in The Trial</strong> (autonomy & consent), and finally <strong>enhancement in The Horizon
            Project</strong>
        (posthumanism).
        <br><br>
        Every choice is tracked across four axes: <strong>Idealism, Realism, Rebellion,</strong> and
        <strong>Skepticism,</strong> which
        reveal your archetype: <strong>The Idealist, The Realist, The Rebel,</strong> or <strong>The Skeptic.</strong>
        In rare cases, when
        answers deeply contradict, the system overrides and gives <strong>The Mirror,</strong> reflecting back inner
        conflict
        instead of a score.
        <br><br>
        To intensify the journey, the game also delivers <strong>thought interruptions,</strong> sudden prompts that
        stop the
        story and force you to justify a choice, like: "<i>You chose to silence a community for the greater good.
            How do you justify that?</i>" These moments turn abstract dilemmas into personal reflection.
        <br><br>
        The Moral Code does not tell players what is right or wrong. Instead, it highlights how advances in synthetic
        biology make old ethical debates urgent again. By playing, participants see how their values influence decisions
        about risk, fairness, and identity.

        This makes bioethics tangible and personal, showing that science is never just technical, it is also social and
        moral.
        <br><br>
        As biotechnology grows more powerful, society faces choices that affect everyone. Should we enhance human
        traits? Release engineered microbes? Who gets access first?

        Through this quiz, we invite the public to reflect on these questions in a simple, playful way. Our hope is to
        spark dialogue, critical thinking, and awareness about the futures synthetic biology could create.
    </p>

</div>



{% endblock %}