{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block scroll_nav %}
<nav class="scroll-nav">
    <ul>
        <li><a href="#hero-section" class="active"><span>Growf</span></a></li>
        <li><a href="#project-section"><span>Our Project</span></a></li>
        <li><a href="#features-section"><span>Key Features</span></a></li>
    </ul>
</nav>
{% endblock %}

{% block page_content %}
    <div class="page-section" id="hero-section">
      <img src="{{ url_for('static', filename='assets/images/full_logo.webp') }}" alt="Growf Logo with text" class="hero-logo">
      <h2 class="tagline"><span>Food For The Future<br>High Yield, Efficient.</span></h2>
      <p>This is a placeholder for your project's main tagline or a brief, impactful introduction. Describe the core challenge you are addressing in one or two sentences.</p>
      <img src="{{ url_for('static', filename='assets/images/steak.png') }}" alt="Lab grown steak" class="section-image">
    </div>

    <div class="page-section" id="project-section">
      <h2>Our Project</h2>
      <h3 class="tagline tagline-lime-green"><span> TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT </h3>  
      <img src="{{ url_for('static', filename='assets/images/steak.png') }}" alt="Lab grown steak" class="section-image">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
    <div class="page-section" id="features-section">
      <h2>Key Features</h2>
      <h3 class="tagline tagline-mint-green"><span> TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT </h3> 
       <img src="{{ url_for('static', filename='assets/images/steak.png') }}" alt="Lab grown steak" class="section-image">
       <img src="{{ url_for('static', filename='assets/images/steak.png') }}" alt="Lab grown steak" class="section-image">
       <img src="{{ url_for('static', filename='assets/images/steak.png') }}" alt="Lab grown steak" class="section-image">
       <img src="{{ url_for('static', filename='assets/images/steak.png') }}" alt="Lab grown steak" class="section-image">
       <img src="{{ url_for('static', filename='assets/images/steak.png') }}" alt="Lab grown steak" class="section-image">
       <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
{% endblock %}
