{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for
the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<div class="education-hero hp-banner">
  <div class="education-hero-content-container">
    <h1>HUMAN PRACTICE</h1>
  </div>
</div>

<div class="spacer"></div>

<div class="page-section">

  <div class="tagline-subline tagline-subline-yellow tagline-subline-bold" style="text-align: left;"><span>Project
      Planning </span></div>

  <div class="spacer2"></div>

  <div class="two-column-container">

    <div class="column-left">

      <div class="image-aligner-center">
        <img src="https://static.igem.wiki/teams/5916/hp/lisa.webp" style="max-width: 100%;">
      </div>

      <div class="spacer"></div>

      <div class="tagline-subline" style="text-align: center;"><span>Dr. Lisa Neidhardt</span></div>

    </div>

    <div class="column-right">

      <div class="image-aligner-center">
        <img src="https://static.igem.wiki/teams/5916/hp/oliver.webp" class="section-image" style="max-width: 100%;">
      </div>

      <div class="spacer"></div>

      <div class="tagline-subline" style="text-align: center;"><span>Dr. Oliver Konzock</span> </div>

    </div>

  </div>

  <div class="spacer2"></div>

  <p style="text-align: left;">Early in our ideation phase, we consulted with Dr. Lisa Neidhardt and Dr. Oliver
    Konzock,
    both Postdoctoral Researchers with experience in yeast-based chassis systems, including <i>Yarrowia
      lipolytica</i> and
    <i>Pichia pastoris</i>. The goal of this meeting was to assess the feasibility of different yeast chassis
    options within
    the constraints of the iGEM timeline.
  </p>


  <div class="spacer2"></div>

  <p style="text-align: left;"> They walked us through the full <i>Yarrowia</i> workflow, from genetic design to
    transformation, which the full design-build-text cycle takes roughly a month per attempt. When accounting for
    delays in ordering, shipping, and the exam period for students, this would realistically allow us only two
    transformation attempts before the competition's final submission deadlines. This raised serious concerns about
    project risk. Given the high likelihood of delays or failed attempts in biological engineering, relying on only
    two cycles presented an unacceptably high chance of not generating results. This would compromise the gold medal
    eligibility and undermining months of work. This consultation resulted in a major design decision. While
    <i>Yarrowia</i> has great potential, we decided the risk was too high. Following this conversation, we reached out
    to
    additional experts to investigate whether <i>Pichia pastoris</i> would allow for a greater number of engineering
    cycles within the same timeframe. If feasible, this would significantly reduce our experimental risk.
  </p>

  <div class="spacer2"></div>

  <p style="text-align: left;">Dr. Lisa Neidhardt and Dr. Oliver Konzock’s honesty gave us the clarity we needed in
    which chassis to prioritise. Shaping a more time-resilient strategy for the wet lab component of our project.</p>

  <div class="spacer2"></div>

  <div class="image-aligner-center">

    <img src="https://static.igem.wiki/teams/5916/hp/alex.webp" style="max-width: 100%;">

  </div>

  <div class="spacer"></div>

  <div class="tagline-subline" style="text-align: center;"><span>Dr. Alexander Van de Steen</span></div>

  <div class="spacer2"></div>

  <p style="text-align: left;">Continuing our chassis selection process, we met with Dr. Alex Van de Steen, a
    postdoctoral researcher with expertise in <i>Pichia pastoris</i>. This consultation aimed to clarify the practical
    timelines associated with <i>Pichia</i> engineering and to evaluate whether it was the most strategic choice for our
    project goals. Dr. Alex Van de Steen confirmed that <i>Pichia</i> transformation timelines can be compressed to
    under one
    month and, with optimisation, may approach the speed of <i>Saccharomyces cerevisiae</i>. However, he also emphasised
    that
    unless our project specifically required <i>Pichia’s</i> strengths, such as high volumetric protein yield, absence
    of
    self-inhibition, or superior secretion capacity, there was no inherent advantage in selecting it over faster or more
    extensively characterised organisms like <i>E. coli.</i>
    <br><br>
    Since our initial concept was to leverage secretion capabilities in growth factor production, this consultation gave
    us the confidence to move forward with <i>Pichia pastoris</i> as our chassis of choice. Achieving a balance between
    industrial relevance with practical achievability in the lab.
  </p>

</div>

<div class="spacer3"></div>


<div class="page-section">

  <div class="tagline-subline tagline-subline-bold tagline-subline-yellow" style="text-align: left;"><span>Research and
      Experimentation</span>
  </div>

  <div class="spacer2"></div>

  <div class="tagline-subline tagline-subline-bold" style="text-align: left;"><span>Pichia Engineering</span></div>


  <div class="spacer2"></div>

  <div class="tagline-subline tagline-subline-bold" style="text-align: left;"><span>Recombinant Protein
      Expression</span></div>

  <div class="spacer2"></div>

  <div class="image-aligner-center">

    <img src="https://static.igem.wiki/teams/5916/hp/reka.webp" style="max-width: 100%;">

  </div>

  <div class="spacer"></div>

  <div class="tagline-subline" style="text-align: center;"><span>Reka Tron</span></div>

</div>


{% endblock %}