{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for
the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<div class="education-hero hp-banner">
  <div class="education-hero-content-container">
    <h1>HUMAN PRACTICE</h1>
  </div>
</div>

<div class="snake-timeline">

  <div class="timeline-section-header">
    <a href="#project-planning-content" class="timeline-header-link">
      <h3 class="tagline-subline">Project Planning</h3>
    </a>
  </div>


  <div class="timeline-event">

    <div class="event-left">

      <div class="timeline-content">

        <div class="tagline-subline " style="text-align: center;"><span>Dr. Lisa Neidhardt</span>
        </div>

        <div class="image-aligner-center"> <img src="https://static.igem.wiki/teams/5916/hp/lisa.webp"
            style="max-width: 100%;"></div>
        <div class="spacer"></div>

        <div class="tagline-subline " style="text-align: center;"><span>Dr. Oliver Konzock</span>
        </div>

        <div class="image-aligner-center"> <img src="https://static.igem.wiki/teams/5916/hp/oliver.webp"
            style="max-width: 100%;"></div>
      </div>

    </div>



    <div class="event-right">

      <div class="timeline-content">

        <div class="spacer2"></div>

        <p style="text-align:left ;">Early in our ideation phase, we consulted with Dr. Lisa Neidhardt and Dr. Oliver
          Konzock, both Postdoctoral Researchers at the Rodrigo Ledesma-Amaro lab with experience in yeasts such as
          *Yarrowia lipolytica* and *Saccharomyces cerevisiae*.
          <br><br>
          We initially organized a meeting with Dr. Neidhardt, a member of the Bezos Centre for Sustainable Protein and
          regional mentor for the Good Food Institute, to discuss how we could frame our project with the goal of
          contributing to the field of alternative proteins.
          <br><br>
          Dr. Neidhardt highlighted the inefficient practices of traditional food production, such as the 8:1 calorie
          conversion ratio for chicken, and outlined current examples of sustainable proteins in the industry. She also
          highlighted the many regulatory burdens that the alternative protein industry faces today, which are limiting
          its real-world applications.
          <br><br>
          Based on Dr. Neidhardt’s initial meeting, we chose to focus on cultivated meat, a facet of alternative
          proteins
          that remains largely underexploited in industry, likely due to technical barriers that drive up costs. In
          particular, we chose to focus on researching into recombinant growth factor production, as it remains one of
          the
          primary cost barriers in the cultivated meat industry.
        </p>

        <div class="spacer"></div>

        <p style="text-align: left;">Our first meeting with Dr Konzock aimed to cover the range of possible microbial
          chassis we could choose from for our project. Oliver walked us through the design and transformation cycle for
          the yeast he was currently working on, Yarrowia lipolytica. The main takeaway from this was that the chassis’
          slow growth cycles and need for non-standard DNA parts would make it unfeasible at the iGEM timescale. A
          single DBTL cycle could take over a month, thus leaving us very little time for further work.
          <br><br>
          Additionally, we benefited from Dr. Konzock’s previous experience with iGEM, namely his work in wet lab and
          team leadership capacities at the Technische Universität Braunschweigm team in 2013 and 2014 respectively, as
          we gained valuable insight on the feasibility and appeal of our project from a former iGEMer’s point of view.
          He advised us to angle our project in a way that could easily be communicated to the wider public, even when
          significantly abstracted.
          <br><br>
          Following this conversation, we reached out to additional experts to investigate whether other yeast chassis
          like *Komagataella phaffii* would allow for a greater number of engineering cycles within the same timeframe.
          If feasible, this would significantly reduce our experimental risk.
          <br><br>
          Dr. Neidhardt and Dr. Konzock’s honest assessment gave us the clarity we needed in picking which chassis to
          prioritise, shaping a more time-resilient strategy for the wet lab component of our project. We onboarded them
          as advisors for our project.
        </p>

      </div>

    </div>
  </div>


  <div class="timeline-event timeline-event-grey">
    <div class="event-left">


      <div class="timeline-content">

        <div class="tagline-subline " style="text-align: center; margin-top: -5%;"><span>Dr. Alexander Van de
            Steen</span></div>

        <div class="image-aligner-center"> <img src="https://static.igem.wiki/teams/5916/hp/alex.webp"
            style="max-width: 60%;"></div>



      </div>


    </div>

    <div class="event-right">
      <div class="timeline-content">

        <p style="text-align: left;">
          Continuing our chassis selection process, we met with Dr. Alex Van de Steen, a postdoctoral researcher with
          expertise in <i>Pichia pastoris</i>. This consultation aimed to clarify the practical timelines associated
          with <i>Pichia</i> engineering and to evaluate whether it was the most strategic choice for our project
          goals.
          Dr. Alex Van de Steen confirmed that <i>Pichia</i> transformation timelines can be compressed to under one
          month and, with optimisation, may approach the speed of <i>Saccharomyces cerevisiae</i>. However, he also
          emphasised that unless our project specifically required <i>Pichia’s</i> strengths, such as high volumetric
          protein yield, absence of self-inhibition, or superior secretion capacity, there was no inherent advantage
          in
          selecting it over faster or more extensively characterised organisms like <i>E. coli.</i>
          <br><br>
          Since our initial concept was to leverage secretion capabilities in growth factor production, this
          consultation gave us the confidence to move forward with <i>Pichia pastoris</i> as our chassis of choice.
          Achieving a balance between industrial relevance with practical achievability in the lab.
        </p>
      </div>
    </div>
  </div>



  <div class="timeline-section-header">
    <h3 class="tagline-subline">Research and Experimentation</h3>

    <div class="spacer3"></div>

    <h3 class="tagline-subline">Pichia Engineering</h3>

    <div class="timeline-event">

      <div class="event-left">

        <div class="timeline-content">


        </div>

      </div>


    </div>

    <h3 class="tagline-subline">Recombinant Protein Expression</h3>

    <div class="timeline-event">

      <div class="event-left">

        <div class="timeline-content">

          <div class="tagline-subline" style="text-align: center; margin-top: -5%;"><span>Reka Tron</span></div>

          <div class="image-aligner-center"> <img src="https://static.igem.wiki/teams/5916/hp/reka.webp"
              style="max-width: 60%;"></div>

        </div>

      </div>

      <div class="event-right">

        <div class="timeline-content">

          <p style="text-align: left;">Very early on in our journey, we met with **Reka Tron**, former COO at Multus, a
            media optimisation company catering to the cultured meat sector. Reka has overseen operations ranging from
            regulatory compliance and procurement to long term-strategy during her five years at Multus.
            <br><br>
            Our focus was understanding the key challenges in industrial *K. phaffii* applications and the broad
            external perception of a media company catering towards cultured meat cultivation.
            <br><br>
            Reka shared her company’s experience on working with the growth factors fundamental to our project. Through
            her industry insider viewpoint, we obtained necessary validation of IGF-1, EGF, and HGF being widely
            demanded in cultivated meat. She stated that while IGF-1 and EGF, being smaller growth factors, were
            relatively easy to verify in *K. phaffii*, larger growth factors such as HGF posed a significant challenge,
            as it has a highly complex shape and is heavily cleaved. She also suggested FGF2, one of the cheapest and
            easiest to produce, as another potential growth factor of interest.
            <br><br>
            Moreover, Reka stated that Multus has engineered several of their growth factors for better dose-response
            properties, serving as an example of a different approach to improving growth factor economics in cultured
            meat. However, we evaluated that the relative impact our project could have was not meaningfully enhanced by
            performing such protein engineering on growth factors, particularly not given our existing timeline
            challenges.
            <br><br>
            The second part of our conversation was centered around public and industry opinion. Reka emphasized an
            attention shift towards media composition and sourcing, especially to sustainable and “waste” carbon
            sources, within the industry. On the other hand, she also pointed out that the public narrative is shifting
            and has resulted in declining end-consumer enthusiasm and waning investor interest. We reconciled these as
            being signs of a more grounded and less optimistic industry atmosphere adjusting to investor confidence in
            the sector.
            <br><br>
            Reka also connected us to Hoxton Farms and Catherine from Qkine, extending our network in the cultivated
            meat space and helping us situate our work within the wider ecosystem.
          </p>


        </div>

      </div>



    </div>

    <h3 class="tagline-subline">Wet Lab</h3>

    <div class="timeline-event">

      <div class="event-left">

        <div class="timeline-content">


        </div>

      </div>


    </div>






  </div>









  <div class="timeline-section-header">
    <h3 class="tagline-subline">Recombinant Protein Expression</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Wet Lab</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Dry Lab</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Tools</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Downstream and Implementation</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Industry overall</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Culturing</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Scale-up / Process Design</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Entrepreneurship and Translation</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Business Strategy</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Intellectual Property</h3>
  </div>
  <div class="timeline-section-header">
    <h3 class="tagline-subline">Simulating a Biotech Investor Pitch</h3>
  </div>

</div>


{% endblock %}