{% extends "layout.html" %}
{% block body_class %}team-page-wide{% endblock %}

{% block title %}Team{% endblock %}

{% block page_styles %}
<link href="{{ url_for('static', filename='team.css') }}" rel="stylesheet">
{% endblock %}

{% block scroll_nav %}
<nav class="scroll-nav">
    <ul>
        <li><a href="#members-section" class="active"><span>Members</span></a></li>
        <li><a href="#advisors-section"><span>Advisors</span></a></li>
        <li><a href="#attributions-section"><span>Attributions</span></a></li>
    </ul>
</nav>
{% endblock %}

{% block page_content %}
    <div class="page-section" id="members-section">
      <h2>Meet the Team</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
      <div class="team-grid">
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/jonathan.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Jonathan</h3>
            <div class="member-role">Team Lead</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        

        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/yeline.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Yeline</h3>
            <div class="member-role">Wet Lab</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>

        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/frederick.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">frederick</h3>
            <div class="member-role">Dry Lab</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Ut enim ad minim veniam, quis nostrud exercitation.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/aki.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Aki</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 5</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 6</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 7</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 8</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 9</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 10</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 11</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 12</h3>
            <div class="member-role">Role</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
      </div>
    </div>

    <div class="page-section  " id="advisors-section">
      <h2>Advisors & Mentors</h2>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="team-grid">
       
        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 1</h3>
            <div class="member-role">Team Lead</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        

        <div class="team-member  ">
            <img src="{{ url_for('static', filename='assets/images/team/example.webp') }}" alt="Photo of Team Member" class="member-photo">
            <h3 class="member-name">Team Member 2</h3>
            <div class="member-role">Wet Lab</div>
            <div class="member-attributions">
                <strong>Contributions:</strong>
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
   
    </div>
    
    <div class="page-section  " id="attributions-section">
      <h2>Attributions</h2>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    </div>
{% endblock %}
